
<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
    	<div class="col one_third">
        	<h4>Flickr</h4>
            <ul class="flickr_stream">
                <li><a href="#"><img src="{$Think.TEMDIR_URL}images/01.png" alt="Flickr 01" /></a></li>
                <li><a href="#"><img src="{$Think.TEMDIR_URL}images/02.png" alt="Flickr 02" /></a></li>
                <li class="no_margin_right"><a href="#"><img src="{$Think.TEMDIR_URL}images/03.png" alt="Flickr 03" /></a></li>
                <li><a href="#"><img src="{$Think.TEMDIR_URL}images/04.png" alt="Flickr 04" /></a></li>
                <li><a href="#"><img src="{$Think.TEMDIR_URL}images/05.png" alt="Flickr 05" /></a></li>
                <li class="no_margin_right"><a href="#"><img src="{$Think.TEMDIR_URL}images/06.png" alt="Flickr 06" /></a></li>
                 <li><a href="#"><img src="{$Think.TEMDIR_URL}images/03.png" alt="Flickr 07" /></a></li>
                <li><a href="#"><img src="{$Think.TEMDIR_URL}images/04.png" alt="Flickr 08" /></a></li>
                <li class="no_margin_right"><a href="#"><img src="{$Think.TEMDIR_URL}images/02.png" alt="Flickr 09" /></a></li>
            </ul>  
        </div>
		
        <div class="col one_third">
        	<h4>Twitter</h4>
            <ul class="twitter_post">
	            <li>Suspendisse at scelerisque urna. Aenean tincidunt velit at dui massa in tellus varius ultricies. <a href="#">http://bit.ly/13IwZO</a></li>
                <li>Proin dignissim, diam nec <a href="#">@TemplateMo</a> enim lorem tempus orci, ac imperdiet ante purus in justo.</li>
                <li>Fusce cursus consectetur ultricies <a href="#">http://bit.ly/34sdPo</a> uis lectus, ut elementum id, fermentum sed erat. </li>
			</ul>
        </div>
        
        <div class="col one_third no_margin_right">
        	<h4>Follow Us</h4>
			<p><a href="http://www.templatemo.com" target="_parent">Dark Pro Theme</a> is free css template provided by <a href="http://www.templatemo.com">templatemo.com</a> for your personal or commercial websites. Sed vestibulum ipsum ac odio dictum tincidunt. Etiam feugiat turpis semper lectus eget diam porta iaculis.</p>
			
			<div class="cleaner h20"></div>
            <div class="footer_social_button">
                <a href="#"><img src="{$Think.TEMDIR_URL}images/facebook.png" title="Facebook" alt="Facebook" /></a>
                <a href="#"><img src="{$Think.TEMDIR_URL}images/flickr.png" title="Flickr" alt="Flickr" /></a>
                <a href="#"><img src="{$Think.TEMDIR_URL}images/twitter.png" title="Twitter" alt="Twitter" /></a>
                <a href="#"><img src="{$Think.TEMDIR_URL}images/youtube.png" title="Youtube" alt="Youtube" /></a>
                <a href="#"><img src="{$Think.TEMDIR_URL}images/feed.png" title="RSS" alt="RSS" /></a>
			</div>
            
            Copyright ? 2048 <a href="#">Your Company Name</a> <br /> 
			<a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by 
			<a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>download from  <a href="http://www.mianfeimoban.com/">mianfeimoban.com</a>
			
			<div class="cleaner"></div>
        </div>
		
        <div class="cleaner"></div>
    </div> <!-- END of footer -->
</div> <!-- END of footer wrapper -->
</body>
</html>