<include file="master:header"/>
	<noscript>
		<div class="alert alert-block span10">
			<h4 class="alert-heading">Warning!</h4>
			<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
		</div>
	</noscript>
			
	<!-- start: Content -->
	<div id="content" class="span10">
			
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="index.html">首页</a> 
				</li>
			</ul>

	
			<div class="row-fluid">	

				<a class="quick-button metro yellow span3">
					<i class="icon-group"></i>
					<p>用户</p>
					<span class="badge">237</span>
				</a>
				<a class="quick-button metro red span3">
					<i class="icon-comments-alt"></i>
					<p>商品数量</p>
					<span class="badge">46</span>
				</a>
				<a class="quick-button metro pink span3">
					<i class="icon-envelope"></i>
					<p>成功订单</p>
					<span class="badge">88</span>
				</a>
				<a class="quick-button metro black span3">
					<i class="icon-envelope"></i>
					<p>销售额</p>
					<span class="badge">88</span>
				</a>
				
				<div class="clearfix"></div>
								
			</div><!--/row-->
			
       

	</div><!--/.fluid-container-->
	
			<!-- end: Content -->
	</div><!--/#content.span10-->
	</div><!--/fluid-row-->

	<div class="clearfix"></div>
<include file="master:footer"/>
	